
@{
    ViewBag.Title = "Haritalar";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<h2>İletişim ve Haritalar</h2>
<br />
<div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.5948647942378!2d28.967496715662158!3d41.012239827129335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab993915bd96b%3A0x57a93c9e87938e71!2sOff-On%20Original!5e0!3m2!1str!2str!4v1619444918981!5m2!1str!2str"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>




</div>
<div>
    <br />
    <p>
        <b> SHOWROOM 1:</b> Taya Hatun Mh. Tarakçılar Sk. No:16/A Mercan-Fatih/İSTANBUL
    </p>
    <p>
        <b> SHOWROOM 1:</b> Taya Hatun Mh. Tarakçılar Sk. No:16/A Mercan-Fatih/İSTANBUL
    </p>
    <p>
        <b> İLETİŞİM:</b> +90 543 526 4286
    </p>
</div>